{% extends "base.html" %}

{% block body %}

<h1>All Dog Whistles</h2>

<a href="{{ url_for('index') }}">Generate a Report</a>

{% for category in db.categories.values() %}
<section>
<h2><a id="{{category.key}}"></a>{{ category.form }}</h2>

{% for reason in category.reasons.values() %}
<article>
  <h3><a id="{{ category.key }}.{{ reason.key }}"></a>{{ reason.form }}</h3>
  {{ reason.explanation }}
  <blockquote>
    {{ reason.more or ''|markdown }}</blockquote>
  <a href="#{{ category.key }}.{{ reason.key }}">[Link]</a>
  
</article>
{% endfor %}

</section>
{% endfor %}

{% endblock %}

